.box
{
    float:left;
    width:290px;
    color:#6f6f6f;
    margin-left:35px;
    margin-right:0;
    padding:44px 0 20px;
    min-height:0;
}

.box:first-child,
h2+.box
{
    margin-left:0;
}