@import url('/public/kendoui/styles/base.css');
@import url('/public/kendoui/styles/page.css');
@import url('/public/kendoui/styles/list.css');
@import url('/public/kendoui/styles/box.css');
@import url('/public/kendoui/styles/panel.css');

.offline-button {
    display: inline-block;
    margin: 30px 0;
    padding: 0 16px;
    height: 32px;
    line-height: 30px;
    background: #313131;
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
}

.offline-button:hover {
    background: #e36028;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}



.imgPlate
{
    display:block;
    position:relative;
    width:288px;
    height:146px;
    border:1px solid;
    border-color:#f4f4f4 #e3e3e3 #bdbdbd #dfdfdf;
    text-align:center;
    margin: 0 auto;
    text-decoration:none;

    -moz-box-shadow:1px 1px 2px -1px #b2b2b2;
    -webkit-box-shadow:1px 1px 2px -1px #b2b2b2;
    box-shadow:1px 1px 2px -1px #b2b2b2;
}

.box h2 {
    display: block;
    float: none;
    width: auto;
    text-align: center;
    padding: 0;
}

#suites {
    text-align: center;
}

#suites li {
    float: none;
    display: inline-block;
}

@media screen and (min-width: 1000px) {
    #page > ul > li {
        clear: none;
    }

    #page > ul > li:nth-child(2n+1) {
        clear: left;
    }
}

@media screen and (min-width: 1480px) {
    #page > ul > li:nth-child(2n+1) {
        clear: none;
    }

    #page > ul > li:nth-child(3n+1) {
        clear: left;
    }
}

