/**
 * 这是Archiver下实名认证导航条样式
 */
@CHARSET "UTF-8";

#authprocess
{
	background:#f8f8f8;
	height:26px;
	width:100%;
	border:1px solid #fefefe;
}
#authprocess ul
{
	list-style:none;
	margin:0;
	padding:5px 0 2px 0;
	height:26px;
	border:1px solid #66ffff;
}
#authprocess ul li
{
	padding:3px 30px 5px 15px;
	margin:0px;
	background:url('/public/images/separato.gif') no-repeat right;
	display:inline;
}
#authprocess ul li.active a
{
	color:black;
}
