@CHARSET "UTF-8";
#wall
{
	height:630px;
	overflow:hidden;
	background:url(/public/images/wall/6071533_134229784355_2.jpg) repeat-x fixed center center;
}
#wall .wall-button
{
	height:30px;
	width:12px;
	top:300px;
	padding:10px;
	position:absolute;	
}
#wall .wall-button:hover
{
	background-color:#000;
}
#wall-prev
{
	background:grey url(/public/images/prev.png) no-repeat center center;
	left:20px;
	z-index:100000;
}
#wall-next
{
	background:grey url(/public/images/next.png) no-repeat center center;
	right:20px;
	top:300px;
	padding:10px;
	position:absolute;
	z-index:100001;
	
}
#wall-close
{
	background:transparent url(/public/images/close.png) no-repeat center center;
	width:30px;
	display:inline-block;	
	height:30px;
	right:-18px;
	top:83px;
	position:relative;
	
}
#wall-change
{
	top:105px;
	right:0px;
	z-index:100002;
	position:absolute;
}
#wall-change a:hover
{
	color:#fff;
}
#wall-tools
{
	margin-top:-5px;
	padding:0 5px;
	text-align:right;
	position:relative;
	background:#E0E0E0;
	border:grey 1px solid;
	border-top:0px;
	height:100px;
	display:none;
}
#wall .wall-card
{
	width:320px;
	height:195px;
	position:absolute;
	display:inline-block;
	background-image: url('/public/images/card/company.png');
	background-position:0 0;
	background-repeat: initial initial;
	border:1px solid grey;
}
